# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_BLECAR_BOARD_NRF52840

config BOARD
	default "blecar_board_nrf52840"

config BT_CTLR
   default BT

endif
